<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../Program Files/Java/jdk-25" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="weekly_assignment" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="Main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>